.login-container { 
    background-color: #807b7b;
    width: 100vh;
    height: 100vh;
    align-content: center;
    display: flex;
    justify-content: center;
}

.login-box {
    background-color: #33a7ff;
    width: 500px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-login {
    display: flex;
    margin: 20px auto;
    padding: 10px 70px;
    background-color: #fff;
    color: #7e7e7e;
    border-radius: 20px;
}

.input-login { 
    background-color: #fff;
    border: none;
    border-radius: 20px;
    padding: 20px 50px;
    margin: 20px;
    color: #000;
    display: block;
}